<div id="edit-form-reminder">
    
    <% if @reminder.medicine.present? %>
        <%= render "form", reminder: @reminder, button_name: "Editar Lembrete" %>
    <% else %>
        <%= render "form_event", reminder: @reminder, button_name: "Editar Lembrete" %>
    <% end %>

</div>