<div class="container d-flex flex-column align-items-center justify-center pt-5">
    <h2 class="reminder-title">Crie seu Lembrete</h2>
    <div class="container w-50">
        <%= render 'form', reminder: @reminder %>
    </div>
</div>