<div class="d-flex justify-content-center links-style">
          <p class="reminder-card-title text-center">
            <%= chatroom.name  %> 
          </p>
          <div class="edit-and-trash-icon ml-3">
            <%= link_to edit_chatroom_path(chatroom), class: "" do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to chatroom_path(chatroom), method: :delete, data: { confirm: "Apagar Conversa?" } do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
</div>
      
