<div class="d-flex justify-content-center align-items-center flex-column">
  <div class="event-card-col card-product-meds my-3 w-100">
    <div class="card-product-infos-meds" >
      <div class="card-header">
        <div class="header-med d-inline-flex justify-content-between w-100">
          <p class="reminder-card-title text-center">
            <%= chatroom.name %>
          </p>
          <div class="edit-and-trash-icon">
            <%= link_to edit_chatroom_path(chatroom), class: "" do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to chatroom_path(chatroom), method: :delete, data: { confirm: "Remover Conversa?" } do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      
