<body class="radial-background">
  <div class="container d-flex flex-column align-items-center justify-center pt-5 mt-5">
    <h1 class="reminder-title"><strong>Edite sua Conversa</strong></h1>
    <div class ="form-card">
      <%= render 'form', chatroom: @chatroom, button_name: "Salvar alterações" %>
    </div>
  </div>
</body>
