<%= link_to new_chatroom_path, class: "card-link home-cards" do %>
  <div class="card-logged">
    <i class="fas fa-user-friends card-icon"></i>
    <h1 class="article-title">
      Crie uma nova conversa
    </h1>
  </div>
<% end %>
