<% if user_signed_in? %>
  <div class="container">
    <%= link_to new_chatroom_path, class: "card-link home-cards" do %>
      <div class="card-logged">
        <i class="fas fa-user-friends card-icon"></i>
        <h1 class="article-title">
          Crie uma nova conversa
        </h1>
      </div>
    <% end %>

  <% if @chatrooms.present? %>
    <h1 class="text-center my-5">Suas Conversas</h1>
    <% if policy(Chatroom) %>
      <% @chatrooms.each do |chatroom| %>
        <div>
          
          <%= link_to chatroom_path(chatroom) do %>
            <%= render "card_chatroom", chatroom: chatroom %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% else %>
      Não tem conversas ainda
  <% end %>

    
  </div>
<% end %>