<% if user_signed_in? %>
  <div class="container mt-5">
    <div class="row w-100">
      <div class="col-6 w-100">
        <%= link_to new_chatroom_path, class: "card-link home-cards" do %>
          <div class="card-logged w-75">
            <i class="card-icon fas fa-user-plus"></i>
            <h1 class="article-title">
              Crie uma nova conversa
            </h1>
          </div>
        <% end %>
      </div>
      <div class="col-6 w-100">
        <% if @result.present? %>
          <div class ="form-card">                               
          <h1 class="your-chats reminder-title">Suas Conversas</h1>
          <% if policy(Chatroom) %>
            <table class="table table-dark links-style text-center">
              <thead>
                <tr>
                  <th scope="col">Nome da conversa</th>
                  <th scope="col">Seus amigos no grupo</th>
                  <% unless current_user.chatrooms.empty? %>
                    <th scope="col">Editar</th>
                    <th scope="col">Deletar</th>
                  <% end %>
                </tr>
              </thead>
              <% @result.each do |chatroom| %>
                  <%= render "card_chatroom", chatroom: chatroom %>
                <% end %>
              </table>
            <% end %>
          <% else %>
            <div class ="form-card ">
              <h2 class="your-chats reminder-title text-center">Putz! Você ainda não tem nenhuma conversa! </h2>
              <%= image_tag "undraw_Group_chat3.png", class: "no_chats d-flex align-items-center"%>
              <h2 class="your-chats reminder-title text-center mt-5">Você pode criar conversas clicando no botão à esquerda</h2>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
