<div class="container"> 
  <div class ="form-card">
    <h2 class="your-chats reminder-title text-center">Você ainda não criou nenhum lembrete</h2>
    <%= image_tag "undraw_Add_notes.svg" %>
    <%= link_to "Criar um lembrete", new_reminder_path %>
  </div>
</div>