<div class="d-inline-flex justify-content-between w-100">
    <div class="icon-down">
      <a class="" data-toggle="collapse" href="#collapseExample<%= reminder.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="fas fa-angle-down"></i>
      </a>
        
    </div>
      <p class="reminder-card-title">
        <i class="far fa-clock"></i>
        <%= reminder.alarm_time.strftime("%d/%m/%Y %H:%M") %>
      </p>
      <div class="edit-and-trash-icon">
        <%= link_to "", class: "" do %>
          <i class="fas fa-edit"></i>
        <% end %>

        <%= link_to reminder_path(reminder), method: :delete, data: { confirm: "Remover Lembrete?" } do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </div>

</div>