<!-- tab-pane-event start -->

          <% @reminders.each do |reminder| %>
            <% unless reminder.medicine.present? %>
              <div class="d-flex flex-column">
                <div class="event-card-col col-12 col-sm-12 card-product-meds mb-3">
                      <div class="card-product-infos-meds" >
                        <div class="card-header">
                          <%= render 'shared/header_cards', reminder: reminder %>
                        </div>
                          <div class="card-body">
                            <h5 class="card-title-center"><%= reminder.title %></h5>
                            <p class="card-text-center"><%= reminder.content %></p>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>    
<!-- tab-pane-event end -->

