<!-- tab-pane-event start -->

          <% @reminders.each do |reminder| %>
            <% unless reminder.medicine.present? %>
              <div class="row">
                <div class="col-12 col-sm-12">
                      <div class="card card-override text-white bg-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header">
                          <%= render 'shared/header_cards', reminder: reminder %>
                        </div>
                          <div class="card-body">
                            <h5 class="card-title"><%= reminder.title %></h5>
                            <p class="card-text"><%= reminder.content %></p>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>    
<!-- tab-pane-event end -->

