<body class="radial-background">
  <div class="container d-flex flex-column align-items-center justify-center pt-5 mt-5">
    <h1 class="reminder-title"><strong>Crie Seu Álbum </strong></h1>
    <div class ="form-card">
      <%= render 'form', photoalbum: @photoalbum, button_name: 'Criar Álbum' %>
    </div>
  </div>
</body>
