
<div class="lightbox-gallery">
    <div class="container">
        <div class="intro">
            <h2 class="reminder-title text-center"> <%= @photoalbum.title %></h2>
           
        </div>
        <div class="form-card photo-gallery">
            <div class="row photos">
                <% @photoalbum.photos.each do |photo|%>
                        <div class="col-sm-6 col-md-4 col-lg-3 item">
                            <%= link_to(photo) do %>
                                <%=  cl_image_tag photo.key, 
                                    class: 'img-responsive img-fluid',
                                    width: 300, height: 300, crop: :fill
                                %>
                            <% end %>    
                        </div>     
                    <% end %>
            </div>
        </div>
    </div>
</div>
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 