.container-global {
    display: flex;
     justify-content:space-between;
     margin-top: 3em;


}
.cards-product {
  height: 250px;
  width: 600px;
  background: rgb(29, 80, 99);
}
.cards-product-info{
    color: white;
    text-align: center;
}
