// New chatroom page
.radial-background {
  background: radial-gradient(51.28% 51.28% at 48.72% 57.34%, #5FD6F1 0%, #1D95B4 100%);
}

// Table "Your chats" card
.table.table-dark.links-style {
  border-radius: 25px;
}

//No chats created icon
.no_chats {
width: 30em;
height: 20em;
background: linear-gradient(90deg, #e99949 0%, #e7a848 95.31%);
border-radius: 55%;
justify-content: center;
box-shadow: 0 0 15px rgba(0,0,0,0.2)
}


.chatroom {
  background: white;
  height: calc(100vh - 66px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
  }
}

#messages {
  padding: 0 1rem;
  padding-top: 1rem;
  overflow: scroll;
  max-height: calc(100vh - 66px - 65px - 71px);
}

#new_message {
  padding: 1rem;
  border-top: 1px solid $gray-200;

  .form-group {
    margin-bottom: 0;
  }
}

.select2-selection__choice__display {
  color: #000000 !important;

}

.links-style a {
  text-decoration: none !important;
  color: orange;
}


