// Edit reminder form card
#edit-form-reminder {
  background-color: #1D5063;
  padding: 1.5em;
  margin-bottom: 2em;
  border-radius: 25px;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
