li {
    list-style-type: none;
}

// Card title (medicine)
.reminder-card-title-med{
  font-size: 25px !important;
  font-family: "Montserrat", sans-serif !important;
  margin: 5px 0 5px 0 !important;
}

// Med reminder card content
.card-product-infos-meds {
  width: 100%;
  .card-header > .header-med {
    font-size: 1.5rem;
  }
}

// Med reminder cards column and layout
.card-product-meds {
  border-radius: 25px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

// "All your meds" card
.all-meds {
  background-color: #f1f1f1;
  position: fixed;
  right: 2rem;
  border-radius: 25px;
  width: 509px;
  padding: 0px !important;
}

// All meds content
.all-meds-card-content {
  padding: 2em !important;
}

//Header for all meds card
.card-header.all-the-meds {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: #FF3F00;
  margin-right: 0px;
}

// Header title card all meds
.your-meds-title {
  color: #f1f1f1;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

// Med names inside "All Meds" card
.med-names {
  font-family: "Montserrat", sans-serif !important;
  text-align: center;
}

.event-card-col {
  padding-left: 0px;
  padding-right: 0px;
}