.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(90deg, #2BC0E4 0%, #6A75D5 100%);
  list-style-type: none;
  padding-left: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 2.5em;
  border-right: 5px solid #FFFFFF;
}

.nav-item {
  padding-left: 1em;
}

.nav-item.dropdown {
  padding-left: 0;
}

.navbar-nav .nav-link {
  padding-top: .8em;
  &:hover {
    border-bottom: 2px solid #FFFFFF;
  }
}

.icon .fa-2x {
  font-size: 3em;
  color: #FFFFFF;
}

.navbar-nav .nav-link .icon {
  padding-top: .1em;
  color: #FFFFFF;
}

.nav-avatar-vertical-line {
  display: inline-flex;
  
}
// avatar border right
.divider-right {
  padding-left: 1em;
  border-right: .2em solid #FFFFFF;
  height: 4em;
}

// user name nav-bar
.user-name h2 {
  padding-top: .25em;
  padding-left: .2em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #222222;
}

.navbar-toggler {
  margin-top: 1em;
  margin-left: 1.5em;
}

.dropdown-item {
  font-weight: 600;
  margin-right: 0;
  &:hover {
    background-color: #1D5063;
    color: #F1F1F1;
  }
}

//Navbar options card
.dropdown-menu.show {
  width: 13.5em;
  margin-top: 0.8em;
  margin-left: 0 !important;
  padding-left: 0 !important;
 
}

.dropdown-menu {
  font-size: 1.2rem;
}

.dropdown-menu {
  background: #2BC0E4;
}

.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
  width: 12.5em;
  margin-left: 0 !important;
  padding-left: 0 !important;
  transform: scale(1.1);
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    display: auto;
    pointer-events: none;
}

