// --- Reminders New - Form --- //

// Page background

#new-page {
  // background: radial-gradient(#696969, 100%, #ed8b6d, 100%) !important;
  // background: radial-gradient(50% 50% at 50% 58.97%, #0E8AA9 0%, #5FD6F1 100%);
  background: radial-gradient(51.28% 51.28% at 48.72% 57.34%, #5FD6F1 0%, #1D95B4 100%);
}
// Page title
.reminder-title {
  // margin-top: 0.5em;
  margin-bottom: 0.8em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  // color: rgb(29, 80, 99);
   color: #f1f1f1;
}

// Form card
.form-card {
  background-color: rgb(29, 80, 99);
  padding: 1em;
  margin-bottom: 1.5em;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// Option tabs (Event or medication)
.nav-tabs {
  margin-bottom: 1em;
}

#myTab {
  border-bottom: none;
}

// Input text colors
input, select, textarea {
  color:#615f5f !important;
  }

// Specific tabs
#event-tab, #medicine-tab {
  border-color: #f1f1f1;
  border-radius: 25px;
  // color: rgb(68, 67, 67);
  color: #f1f1f1;
}

a.active {
  background: linear-gradient(90deg, #f3b16e 0%, #e7a848 95.31%) !important;
  color: #f1f1f1 !important;
  text-align: center !important;
  font-weight: 600 !important;
  border-color: #FF9C33 !important;
  box-shadow: 2px 2px 1px 1px #888888 !important;
}


// Label for reminder inputs
.string.required, .date.optional, .text.required, .select.required, .text.optional, .string.optional {
  // color: rgb(68, 67, 67);
  color: #f1f1f1;
}

// "Back to profile" and "Create" buttons
.btn-back, .btn-create {
  width: 200px;
  margin-bottom: 20px !important;
  border-radius: 25px;
  border: none;  
  // color: #f1f1f1 !important;
}

.btn-back {
  background-color: #26B6B6;
  
}

.btn-back:hover {
  background-color: #1c9999;
}

.btn-create {
  background-color: #08c26e;
  color: #eeeaea !important;
}

.btn-create:hover {
  background-color: #089958
}

// ---------- //

#option_category_evento + label {
  color:#e99e2dfe;
  text-align: center;
  font-weight: bold;
  border: 2px solid #e99e2dfe;
}

#option_category_evento:checked + label {
  background-color: #e99e2dfe;
  border-color: #e99e2dfe;
}


#option_category_medicamento + label {
  color: #FD1015;
  text-align: center;
  border: 2px solid #FD1015;
}

#option_category_medicamento:checked + label {
  background-color: #FD1015;
  border-color: #FD1015;
}

label.form-check-label.collection_radio_buttons {
    width: 10em;
    height: 3em;
    font-weight: bold;
    font-size: 1em;
}