// --- Reminders New - Form --- //

//btn-create, btn-back

// Page title
.reminder-title {
  margin-bottom: 1.5em;
  font-family: "Kameron", serif;
  font-weight: bold;
  color: #f1f1f1;
}

// Form card
.form-card {
  background-color: rgb(29, 80, 99);
  padding: 1em;
  border-radius: 25px;
  box-shadow: #f1f1f1;
}

// Option tabs (Event or medication)
.nav-tabs {
  margin-bottom: 1em;
}

#myTab {
  border-bottom: none;
}

// Specific tabs
#event-tab, #medicine-tab {
  border-color: #f1f1f1;
  border-radius: 25px;
  // color: rgb(68, 67, 67);
  color: #f1f1f1;
}

a.active {
  background: linear-gradient(90deg, #f3b16e 0%, #e7a848 95.31%) !important;
  color: #f1f1f1 !important;
  text-align: center !important;
  font-weight: 600 !important;
  border-color: #FF9C33 !important;
  box-shadow: 2px 2px 1px 1px #888888 !important;
}



// Label for reminder inputs
.string.required, .date.optional, .text.required, .select.required, .text.optional, .string.optional {
  // color: rgb(68, 67, 67);
  color: #f1f1f1;
}

// Unity input
.input-unity {
  color: #888888;
}

// "Back to profile" and "Create" buttons
.btn-back, .btn-create {
  width: 200px;
  margin-bottom: 20px !important;
}

.btn-create:hover {
  background-color: #08c26e;
}

// ---------- //

#option_category_evento + label {
  color:#e99e2dfe;
  text-align: center;
  font-weight: bold;
  border: 2px solid #e99e2dfe;
}

#option_category_evento:checked + label {
  background-color: #e99e2dfe;
  border-color: #e99e2dfe;
}


#option_category_medicamento + label {
  color: #FD1015;
  text-align: center;
  border: 2px solid #FD1015;
}

#option_category_medicamento:checked + label {
  background-color: #FD1015;
  border-color: #FD1015;
}

label.form-check-label.collection_radio_buttons {
    width: 10em;
    height: 3em;
    font-weight: bold;
    font-size: 1em;
}