// "String required and optional" labels override
.dark-label-or {
  color: #0E0000 !important;
}


.container-sign-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100vh;
    overflow-x: hidden;
}

.box1 { 
   
    h2, h3 {
        color: white;
    }
}

.box2 {
    background: linear-gradient(90deg, #FFA751 0%, #FFE259 95.31%);
    width: 50%;
    height: 100vh;
}



.simple_form.new_user {
    display: flex;
    flex-direction: column;
    width: 75%; 
}

.sign-up-form-btn {
    margin-top: 0.5em;
    background-color: #26B6B6;
    border-radius: 1em;
    padding: .5em 2em;
    color: #f1f1f1 !important;
    font-size: 2em;
    font-weight: bold;

    &:hover {
        background-color: #237e7e;
    }
}
