
.container-sign-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vh;
    

}

.box1 {
    padding: 2em;

}

.box2 {
    background: linear-gradient(90deg, #FFA751 0%, #FFE259 95.31%);
    width: 50%;
    height: 100vh;
    
    

}
.sign-up-form-btn{
    background-color: #26B6B6;
    border-radius: 3em;
}

