// --- Edit/Update Page --- //

// Page title
.title-update {
  font-family: "Montserrat", sans-serif !important;
  font-weight: bold !important;
  color: #f1f1f1 !important;
  margin-top: 1em;
  margin-bottom: 1em;
}

// Input helper tags
.form-text.text-muted {
  color: #FEC601 !important;
}

// Labels for inputs
.form-text-label {
  color: #ff0606 !important;
}


// Cancel account title
.cancel-account-title {
  font-family: "Montserrat", sans-serif !important;
  font-weight: bold !important;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

